*{
    margin:0;
    padding:0;
}

body{
    background-color: darkgray;
}

section{
    margin-top:10px;
}

header, .estrenos, .news{
    background-color: antiquewhite;
}

.hero, .proximos-estrenos, footer{
    background-color:aliceblue;
}

.hero-movie{
    min-height: 100vh;
}

/* CSS NICO */
.sacarEnlace{
    text-decoration: none;
}

.colorButton{
    background-color: #FF3025 !important;
    color: white !important;
}

.maxIcon{
    font-size: x-large;
}

.btnFlecha{
    border: none;
    color: white;
}